<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices - <%- process.env.APP_TITLE -%> </title>
</head>
<body>
    <h2><%- device.name %> </h2>

    <% if (datasets.length) { %>
    <ol>
        <% for (let dataset of datasets) { %>
        <a href="/datasets/<%-dataset._id %>"><li><%- dataset.name -%></li></a>
        <% } %>
    </ol>
    <% } else { %>
        <p>No datasets available</p>
    <% } %>
</body>
</html>