<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- process.env.APP_TITLE -%> </title>
</head>
<body>
<table>
    <h2>401 - Unauthorized Access.</h2>
    <tbody>
        <tr>
            <td><strong>You</strong></td>
            <td>(ㆆ _ ㆆ)</td>
            <td>*trying to access authorized only page*</td>
        </tr>
        <tr>
            <td><strong><strong>Server</strong></strong></td>
            <td>ᕕ(╭ರ╭ ͟ʖ╮•́)⊃¤=(————</td>
            <td>You are not allowed here!</td>
        </tr>
        <tr>
            <td><strong>You</strong></td>
            <td>( ╥﹏╥) ノシ</td>
            <td>Okay sorry ... *leaves*</td>
        </tr>
    </tbody>
</table>
<a href="/">-> Front page</a>
</body>
</html>