<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- process.env.APP_TITLE -%> </title>
</head>
<body>
<<<<<<< HEAD
=======
    <% if (typeof error !== 'undefined' && error) { %>}
    <div style="background-color: red;">
        <p></p>
    </div>
    <% } %>
>>>>>>> c4e9519c5f32ff2bafc25d6e3fdd1b54d42221a2
    <form action="" method="POST">
        username: <input type="text" name="username"> <br>
        password: <input type="password" name="password"> <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>