<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- process.env.APP_TITLE -%> </title>
</head>
<body>
    Hello there! go to:
    <ul>
        <a href="/make/device/new">
            <li>Create device with name device 1.</li>            
        </a>
        <a href="/make/device/new">
            <li>Create device with name device 1.</li>            
        </a>
        <a href="/make/device/new">
            <li>Create device with name device 1.</li>            
        </a>
        <a href="/make/device/new">
            <li>Create device with name device 1.</li>            
        </a>
        <a href="/make/datab">
            <li>Create device with name device 1.</li>            
        </a>
    </ul>
</body>
</html>