<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices - <%- process.env.APP_TITLE -%></title>
</head>
<body>
    <h2>List of datasets:</h2>
    <% if (!datasets.length) { %>
    <p>There are no datasets</p>
    <% } else { %>
    <ul>
    <% for (let item of datasets){ %>
        <a href="/datasets/<%- item._id %>"><li> <%- item.name %></li></a>
    <% } %>
    </ul>
    <% } %>
</body>
</html>